<div id="mailchimp" class="w-full">
  <div class="mb-2 -mt-1">
    <span class="text-sm">Join our mailing list</span>
  </div>
  <form novalidate="true" class="mailchimp-form" action="{{ settings.mailchimp_action }}">
    <div class="flex flex-wrap md:flex-nowrap items-center mb-2">
      <div class="flex-grow mr-2 md:max-w-sm">
        <input type="email" name="EMAIL" class="mailchimp-email font-basic appearance-none border-b border-black w-full p-2">
      </div>
      <div class="w-full md:w-auto text-right">
        <button type="submit" class="bg-transparent text-black font-heading p-2 rounded-none">Subscribe</button>
      </div>
    </div>
    <div><span class="mailchimp-response text-sm">&nbsp;</span></div>
  </form>
</div>
