<section>
  <div class="flex flex-wrap -mx-4 px-4 justify-between">
    <div class="w-full mb-16 px-4">
      <h1 class="font-heading font-bold text-6xl text-center">{{ 'general.404.title' | t }}</h1>
    </div>
    <div class="w-full mb-36 px-4">
      <div class="text-center">{{ 'general.404.subtext_html' | t }}</div>
    </div>
  </div>
</section>
